body{
    background-color: rgb(229, 241, 182);
    display: inline-block;
    margin: 10px;
    width: 99%;
}
header{
    background-color:rgba(226, 228, 124, 0.89);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
}
.Bradesco{
    background-color: rgb(231, 228, 188);
    justify-content: center;
}
.Bradesco h2{
    background-color: yellow;
    text-align: center;
}
.Bradesco p{
    background-color: red;
    padding: 50px;
    border-radius: 50px;
}
footer{
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background: rgb(19, 21, 150);
    text-align: center;
    padding: 0px 2px;
    color: black;
}