#titulo{
    color: red;
}
body{ text-transform:capitalize;
   color: rgb(32, 125, 207);
    background: url();
    background-repeat: no-repeat;
    background-size:cover;
}
.enfatizar{font-family: Arial, Helvetica, sans-serif;
font-style: italic;}

.segundo{
    color: rgba(17, 17, 163, 0.932);
    background-size: contain;
    background-repeat: no-repeat;
}
footer{
position:relative;
bottom: 0%;
left: 0%;
width: 100%;
background: coral;
color: black;
text-align: center;
padding: 5px;
}